.container {
    width: 530px;
    height: 80vh;
    margin: auto;
    margin-top: 80px;
    border-radius: 12px;
    background-image: linear-gradient(180deg, #45bce0 0%, #0962a5 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 40px;
}

.top-bar input {
    display: flex;
    width: 250px;
    padding: 20px;
    border-radius: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    background-color: #ebffff;
    color: #626262;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    height: 58px;
    background-color: #ebffff;
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.search-icon:hover {
    background-color: #e0e8e8;
}

.weather-image {
    margin-top: 20px;
    display: flex;
    justify-content: center;

}

.weather-temp {
    display: flex;
    justify-content: center;
    font-size: 70px;
    font-weight: 500;
    color: white;
}

.weather-location {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 400;
    color: white;
}

.data-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    color: white;
}

.element {
    margin: auto;
    display: flex;
    gap: 15px;
    align-items: center;
    text-align: left;
}

.icon {
    width: 30px;
    height: 30px;
}

.data {
    font-size: 20px;
    font-weight: 500;
}

.text {
    font-size: 15px;
    font-weight: 400;
}